@use "../../../../config/styleVariable.scss" as vars;

.products-pageHeaderWrap {
  margin-bottom: 20px;
}

.products-headerActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.products-headerPrimary {
  flex-shrink: 0;
  @media (max-width: 768px) {
    width: auto;
    margin-bottom: 0;
    
    button {
        width: auto;
    }
  }
}

.products-headerFilters {
  flex: 1;
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.products-filterRow {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: stretch;
    }
}

.products-filterItem {
    min-width: 150px;
    
    &--search {
        flex: 1;
        min-width: 200px;
    }

    @media (max-width: 768px) {
        width: 100% !important;
        min-width: 100% !important;
    }
}

.products-filterControls-dropdown {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}
